/target/
/.settings/
/.classpath
/.project
/.idea/
/proxy.iml

/log.txt
/bin/

/src/main/resources/com/baloise/proxy/git.properties
/.git-versioned-pom.xml

# stale artefacts from older build pipelines
/custom-runtime/
/input/
/output/
